body {
    margin: 0;
    font-family: sans-serif;
}
h2 {
    margin: 0;
}
.wrapper {
    min-height: 100vh;
    padding: 30px;
    margin: auto;
    max-width: 1020px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-content: flex-start;
}
.card {
    background-color: brown;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 12px;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 15px limegreen;
    position: relative;
}
.card .like {
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: limegreen;
    cursor: pointer;
}
.card .pic {
    height: 100px;
    width: 100%;
    background-color: springgreen;
    background-image: url(https://images.dailyhive.com/20220825130446/toronto-raccoon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*contain поставит заполнение фото карточки по высоте картинки*/
    }

.pic.tmp {
    background-image: url(images/default.png);
    background-size: contain;
    background-size: auto 85%;
}

.btn {
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blueviolet;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover {
    color: springgreen;
    transform: scale(1.11, 1.1);
 
}

.add {

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.modal {
    background-color: springgreen;
    padding: 16px;
    border-radius: 8px;
    width: calc(100% - 100px);
    max-width: 300px;
    max-height: calc(100% - 100px);
    overflow: auto;
    position: relative;
}

.modal-block {
background-color: rgba(62,62,62, 0.80);
backdrop-filter: blur(3px);
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: none;
justify-content: center;
align-items: center;
}
.modal-block.active {
    display: flex;    
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
}